footer {

    background-color: #5c6bc0;
    padding: 20px;

    & .footer-logo  {

        & img {

            width: 60%;
            display: block;
            height: 150px;
            margin-left: auto;
            margin-right: auto;

            @mixin atMedium {

                width: 80%;
                margin-left: 0;
                margin-right: auto;
            }
        }
    }

    & .footer-navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;

        @mixin atMedium {

            justify-content: flex-end;
        }

        &--nav {

            display: flex;
            list-style: none;

            &--item {

                &__link {

                    text-decoration: none;
                    color: #fff;
                    padding: 9px;
                    font-size: .9rem;
                    transition: border, .3s ease-in;

                    &:hover {

                        border-bottom: 1px solid #FFF;
                    }
                }
            }

        }
    }

    & .copyright {

        padding: 10px 0;
        color: #fff;
        font-size: .85rem;
        display: flex;
        justify-content: center;

        @mixin atMedium {

            justify-content: flex-start;
        }

    }

    & .social-icons {

        display: flex;
        justify-content: center;

        @mixin atMedium {

            justify-content: flex-end;
        }


        &--list {

            display: flex;
            list-style: none;

            &--item {

                padding: 10px;

                & a {

                    color: #FDD835;
                    font-size: 2rem;
                    transition: border, .3s ease-in;
                    opacity: .8;

                    &:hover {

                        color: #FDD835;
                        opacity: 1;
                    }
                }
            }

        }
    }
}