/* Intro section with parallax effext */
.hero {
    display: flex;
    align-items: center;
    min-height: 640px;
    width: 100%;
    background-image: url('../../assets/img/damian-zaleski-843-unsplash.jpg');

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 35px;
    
    &--content {

        max-width: 700px;
        margin-left: auto;
        margin-right:  auto;
        animation: fadeinUp 1s ease-in-out;

        &__title {
            padding-bottom: .8rem;
            color: #455a64;
        }

        &__text {
            padding-bottom: .8rem;
        }

        @mixin atMedium {

            margin-left: auto;
            margin-right: 0;
        }
    }

    @mixin atMedium {

        margin-bottom: 0;
    }
}