/* The instiute section with image gallery */
.institute {

    display: flex;
    align-items: center;
    min-height: 640px;
    width: 100%;

    margin-bottom: 35px;

    &--information {
        
        &--title {

            font-size: 1.1rem;
            font-weight: 400;
            margin-bottom: 25px;
            text-align: center;
            color: #455a64;
        }

        &--description {
            margin-bottom: 25px;
            
        }
    }

    &--image-gallery {

        position: relative;
        height: 350px;
        box-shadow: 0 0 20px rgba(0,0,0,0.4); 

        & img {

            position: absolute;
            top: 0;
            left: 0;
            z-index: 8;
            width: 100%;
            height: 100%;
            padding: .5rem;
 
        }

    }

    @mixin atMedium {

        margin-bottom: 0;
    }
}