/* Section title and subtitle rules */
.section {

    &--intro {

        margin-bottom: 35px;

        &__title {

            padding-bottom: .8rem;
            color: #455a64;
        }

        &__subtitle {

            padding-bottom: .8rem;
            font-weight: 300;
            color: #F9A825;
        }
    }
}




